@use 'media';

.container {
    margin: 1em auto;
    width: 90%;
    max-width: 1000px;
}

.flex,
.maybe-flex {
    display: flex;
    flex-direction: row;
}

.maybe-flex {
    @include media.mobile {
        display: block;
    }
}

.flex-fixed {
    flex: 0 1 auto;
}

.flex-dynamic {
    flex: 1 1 auto;
}

.row {
    width: 100%;
    margin-bottom: 1rem;
}